html,
body,
#root {
  height: 100%;
}

body {
  background-color: hsl(180deg, 25%, 92%);
  margin: 0;
}

*,
*:before,
*:after {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/*
  A utility class to totally remove something from the screen,
  while still keeping it available for screen-readers.
*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
a {
  color: white;
}
header {
  width: 65%;
  
}
.CharacterEditor_controlColumn__21_Sc {
  width: 50%;
}
.CharacterEditor_characterWrapper__277mj {
 position: fixed;
 left: 65%; 
 top: 15%;
  
}
.Character_character__6f_je {
  min-height: 500px;
}
.ControlPane_controlPane__2STO3 {
  overflow: auto;
  white-space: nowrap;
}
#perspective-decoration {
  position: fixed;
  top: 60%;
  width: 100%;
  height: 100%;
  background-color:hsl(195deg, 20%, 86%);
  z-index: -1;
}
